*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

.body{
    background-color:#f4f4f4 ;
}
.heading{
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.heading h1{
    position: relative;
    font-size: 50px;
    color: #333;
    margin: bottom 25px;
}
.heading h1::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: #1cc772;
}
.heading p{
    font-size: 18px;
    color:#666;
    margin-bottom: 35px;
    line-height: 1.5;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex:1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5 ease;
}
.about-content{
    flex:1;
}
.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color:#333;
    text-transform: capitalize;
}
.about-content p{
    font-size: 18px;
    line-height: 28px;
    color:#666;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 4px;
}
.icons {
    background: #2c3e50;
    display: flex;
    justify-content:center;
    padding: 0.8rem 0;
}

.icons li {
    list-style-type: none;
    background: #3498db;
    color: #ffffff; 
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.icons li:hover {
    background: #c2afad; 
    color: #ffffff;
}